<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>uh oh!</title>
    <link rel="stylesheet" href="../views/css/408.css">
    <link rel="icon" sizes="16x16" type="image/png" href="../views/img/favicon16x16.png">
    <link rel="icon" sizes="32x32" type="image/png" href="../views/img/favicon32x32.png">
    <link rel="icon" sizes="64x64" type="image/png" href="../views/img/favicon64x64.png">
    <link rel="icon" sizes="128x128" type="image/png" href="../views/img/favicon128x128.png">
    <link rel="icon" sizes="256x256" type="image/png" href="../views/img/favicon256x256.png">
    <meta name="description" content="Quick Search the Steam Workshop">
    <meta name="image" content="https://workshop.belvue.info/views/img/favicon32x32.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Workshop Scraper">
    <meta itemprop="description" content="Quick Search the Steam Workshop">
    <meta itemprop="image" content="https://workshop.belvue.info/views/img/favicon32x32.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Workshop Scraper">
    <meta name="twitter:description" content="Quick Search the Steam Workshop">
    <meta name="twitter:site" content="@lierrmm">
    <meta name="twitter:creator" content="@lierrmm">
    <meta name="twitter:image:src" content="https://workshop.belvue.info/views/img/favicon256x256.png">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Workshop Scraper">
    <meta name="og:description" content="Quick Search the Steam Workshop">
    <meta name="og:image" content="https://workshop.belvue.info/views/img/favicon256x256.png">
    <meta name="og:url" content="https://workshop.belvue.info">
    <meta name="og:site_name" content="Workshop Scraper">
    <meta name="og:type" content="website">
</head>

<body>
    <main>
        <div>
            <div>
                <span>408 Timeout</span>
                <span>Could not parse the workshop you searched for.</span>
            </div>
            <svg viewBox="0 0 200 600">
                <polygon
                    points="118.302698 8 59.5369448 66.7657528 186.487016 193.715824 14 366.202839 153.491505 505.694344 68.1413353 591.044514 200 591.044514 200 8">
                </polygon>
            </svg>
        </div>
        <svg class="crack" viewBox="0 0 200 600">
            <polyline
                points="118.302698 8 59.5369448 66.7657528 186.487016 193.715824 14 366.202839 153.491505 505.694344 68.1413353 591.044514">
            </polyline>
        </svg>
        <div>
            <svg viewBox="0 0 200 600">
                <polygon
                    points="118.302698 8 59.5369448 66.7657528 186.487016 193.715824 14 366.202839 153.491505 505.694344 68.1413353 591.044514 0 591.044514 0 8">
                </polygon>
            </svg>
            <div>
                <span>sorry about that!</span>
                <span><a href="/">return home?</a></span>
            </div>
        </div>
    </main>
</body>

</html>