<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>uh oh!</title>
    <link rel="stylesheet" href="../views/css/408.css">
    <link rel="shortcut icon" href="../views/img/favicon.png" type="image/png">
</head>

<body>
    <main>
        <div>
            <div>
                <span>408 Timeout</span>
                <span>Could not parse the workshop you searched for.</span>
            </div>
            <svg viewBox="0 0 200 600">
                <polygon points="118.302698 8 59.5369448 66.7657528 186.487016 193.715824 14 366.202839 153.491505 505.694344 68.1413353 591.044514 200 591.044514 200 8"></polygon>
            </svg>
        </div>
        <svg class="crack" viewBox="0 0 200 600">
            <polyline points="118.302698 8 59.5369448 66.7657528 186.487016 193.715824 14 366.202839 153.491505 505.694344 68.1413353 591.044514"></polyline>
        </svg>
        <div>
            <svg viewBox="0 0 200 600">
                <polygon points="118.302698 8 59.5369448 66.7657528 186.487016 193.715824 14 366.202839 153.491505 505.694344 68.1413353 591.044514 0 591.044514 0 8"></polygon>
            </svg>
            <div>
                <span>sorry about that!</span>
                <span><a href="/">return home?</a></span>
            </div>
        </div>
    </main>
</body>

</html>