<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= title %> </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript">
    </script>
    <link rel="stylesheet" href="../views/css/index.css">
    <link rel="icon" sizes="16x16" type="image/png" href="../views/img/favicon16x16.png">
    <link rel="icon" sizes="32x32" type="image/png" href="../views/img/favicon32x32.png">
    <link rel="icon" sizes="64x64" type="image/png" href="../views/img/favicon64x64.png">
    <link rel="icon" sizes="128x128" type="image/png" href="../views/img/favicon128x128.png">
    <link rel="icon" sizes="256x256" type="image/png" href="../views/img/favicon256x256.png">
    <!-- Search Engine -->
    <meta name="description" content="Quick Search the Steam Workshop">
    <meta name="image" content="https://workshop.belvue.info/views/img/favicon32x32.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Workshop Scraper">
    <meta itemprop="description" content="Quick Search the Steam Workshop">
    <meta itemprop="image" content="https://workshop.belvue.info/views/img/favicon32x32.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Workshop Scraper">
    <meta name="twitter:description" content="Quick Search the Steam Workshop">
    <meta name="twitter:site" content="@lierrmm">
    <meta name="twitter:creator" content="@lierrmm">
    <meta name="twitter:image:src" content="https://workshop.belvue.info/views/img/favicon256x256.png">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Workshop Scraper">
    <meta name="og:description" content="Quick Search the Steam Workshop">
    <meta name="og:image" content="https://workshop.belvue.info/views/img/favicon256x256.png">
    <meta name="og:url" content="https://workshop.belvue.info">
    <meta name="og:site_name" content="Workshop Scraper">
    <meta name="og:type" content="website">
</head>

<body>
    <div id="wrap">
        <br><br>
        <div class="container">
            <div id="box">
                <div class="pull-middle text-center">
                    <h1>Search Workshop</h1>
                    <div class="col-md-12 text-center pull-middle">
                        <div class="form-group">
                            <div class="input-group">
                                <input name="text" type="text" class="form-control" id="gameId" autocomplete="Off"
                                    placeholder="Enter the Game ID">
                                <span class="input-group-btn">
                                    <button type="submit" onclick="search()" class="btn btn-primary">Search</button>
                                </span>
                                <ul class="search-ac"></ul>
                            </div>
                        </div>
                        <div class="presets">
                            <a href="/game/311210">Black Ops III</a>
                            <a href="/game/730">• Counter Strike: Global Offensive</a>
                            <a href="/game/4000">• Garry's Mod</a>
                            <a href="/game/440">• TF2</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container text-muted">
            Copyright &copy; belvue <%= new Date().getFullYear() %>. All rights reserved.
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script>
        function search() {
            var id = $('#gameId').val();
            if (!isNaN(id)) location.href = "/game/" + $('#gameId').val()
        }

        $('#gameId').on('keyup', extendedSearch);

        function extendedSearch() {
            var query = $('#gameId').val();
            if (query.length > 3) {
                var url = "/search/" + query;
                $.ajax({
                    async: true,
                    url: url,
                    success: function (data) {
                        var html = "";
                        data.forEach(element => {
                            html +=
                                `<li><a href="/game/${element.appid}">${element.name}</span></a></li>`;
                        });
                        if (data.length > 0) $('.search-ac').show().html(html);
                    },
                    error: function (r, s, e) {
                        console.log(e);
                    }
                });
            } else {
                $('.search-ac').hide().html("");
            }
        }
    </script>
</body>

</html>